.box {
  width: 300px;
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 10px;
  vertical-align: top;
}

dt {
  font-weight: 500;
}

.ongoing {
  color: green;
}

.nonOngoing {
  color: blue;
}

.title {
  text-align: left;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 20px;
}
