.main-container {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.st2,
.v1,
.mystyle1 {
  flex: 1;
  padding: 20px;
  border-right: 4px solid green;
}

.v1 {
  border-right: none;
}